/* TO DO create classes in CSS for UV index to display different colors */

.jumbotron {
    height: 60px;
}

/* always display city as upper case first char, rest lower case */
/* .city-name {
    text-transform: lowercase;
}

.city-name:first-letter {
    text-transform: capitalize;
} */